<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia rowerów miejskich</title>
    <link rel="stylesheet" th:href="@{/css/offer_style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <!-- Sprawdź, czy użytkownik jest zalogowany i wyświetl odpowiedni przycisk -->
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Logowanie</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page_citybikerent">Strona główna</a>
        <a href="/offer">Oferta</a>
        <a href="/price_list">Cennik</a>
        <a href="/contact">Kontakt</a>
        <a href="/rent">Rezerwacje</a>
        <a href="/regulations">Regulamin</a>
        <a href="/about_us">O nas</a>
    </nav>
</div>

<div class="toolbar-login">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>
</div>

<div class = "flex-container">
<div class="leftSide">
    <h1>Odkryj Miasto z Naszymi Rowerami Miejskimi!</h1>
    <p>
        Oferujemy wygodne i solidne <span class="highlight">rowery miejskie do wynajmu</span>, idealne do zwiedzania miasta w łatwy i ekologiczny sposób.
        Z regulowaną wysokością siedzenia, koszem z przodu, i kompletnym systemem wypożyczania, nasze rowery zapewniają wygodną i przyjemną podróż dla każdego.
    </p>

    <h2>Dlaczego Wybrać Nasze Roweru Miejskie:</h2>

    <ul>
        <li><span class="highlight">Wygodna Jazda:</span> Ergonomiczna konstrukcja i regulowane siedzenie zapewniają komfortową podróż.</li>
        <li><span class="highlight">Praktyczne Udogodnienia:</span> Z łatwością przewożysz swoje drobiazgi w naszych koszach lub uchwytach bagażowych.</li>
        <li><span class="highlight">System Wypożyczania:</span> Prosty i wygodny system umożliwia łatwe wypożyczenie i zwrot rowerów.</li>
        <li><span class="highlight">Ekologiczny Transport:</span> Odkrywaj miasto ekologicznie, rezygnując z samochodów na rzecz naszych rowerów.</li>
    </ul>

    <p>
        Zaplanuj swoją podróż i odkrywaj uroki miasta z naszymi <span class="highlight">rowerami miejskimi</span>. Idealne dla turystów i mieszkańców!
    </p>
</div>
<div class = "rightSide">
    <img th:src="@{/photos/bikesRightSide.jpg}" alt="bikes should be at right side"/>
</div>
</div>

<footer>
    <p>2024 City Bike Rent &copy;</p>
</footer>
<script>
    function logout() {
        // W tym miejscu możesz wykonać operacje związane z wylogowywaniem,
        // np. zakończenie sesji, usuwanie atrybutu 'loggedInUser' itp.

        // Następnie przekieruj użytkownika na stronę wylogowania
        window.location.href = "/logout";  // Zakładając, że masz endpoint '/logout' do obsługi wylogowywania
    }
</script>
<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToRegister() {
        window.location.href = "/register";
    }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
